<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/html/templates/default/css/all.css" />
</head>

<body>
    <!-- header -->
    <div id="header">
        <div id="logo"><a href="#">商户服务<i></i></a></div>
        <div id="userBar" class="fn-cb">
            <div class="option">
                <a href="#"><i></i></a>
            </div>
            <div class="user">
                <span class="avatar"><a href="#"><img src="/html/templates/default/img/tmp/head.png" width="53" height="53" alt=""/></a></span>
                <div class="name">欢迎,
                    <br/>您好，凌遥</div>
            </div>
            <div class="menu">
                test
            </div>
        </div>
        <div id="guide">
            您当前所在位置：<a href="#">首页管理</a> > <strong>查看主页</strong>
        </div>
    </div>
    <!-- /header -->
    <!-- bodyer -->
    <div id="layout" class="fn-cb">
        <div class="side">
            <div id="menu">
                <!-- 当前栏目请给dl跟dd中的a增加class -->
                <dl>
                    <dt><a href="/html/templates/index/edit.htm"><i class="icon-search"></i>首页管理</a></dt>
                    <dd>
                        <a href="/html/templates/index/edit.htm">更新主页</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="/html/templates/resume/list.htm"><i class="icon-page"></i>简历管理</a></dt>
                    <dd>
                        <a href="/html/templates/resume/add.htm">投递简历</a>
                        <a href="/html/templates/resume/detail.htm">简历详情</a>
                        <a href="/html/templates/resume/list.htm">查看简历</a>
                    </dd>
                </dl>
                <dl class="current">
                    <dt><a href="/html/templates/menu/list.htm"><i class="icon-card"></i>菜单管理</a></dt>
                    <dd>
                        <a href="/html/templates/menu/add.htm">增加菜单</a>
                        <a href="/html/templates/menu/list.htm" class="current">菜单管理</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="/html/templates/news/list.htm"><i class="icon-info"></i>新闻管理</a></dt>
                    <dd>
                        <a href="/html/templates/news/add.htm">新增新闻</a>
                        <a href="/html/templates/news/list.htm">新闻列表</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="/html/templates/recruit/list.htm"><i class="icon-user"></i>招聘管理</a></dt>
                    <dd>
                        <a href="/html/templates/recruit/add.htm">发布招聘</a>
                        <a href="/html/templates/recruit/detail.htm">招聘详情</a>
                        <a href="/html/templates/recruit/list.htm">招聘列表</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="wp">
            <div class="main">
                <div class="box1">
                    <div class="hd1">
                        <i class="icon-card"></i>
                        <h3>增加菜单</h3>
                    </div>
                    <div class="bd">
                        <form action="">
                            <ul class="navs">
                                <li class="current">周一</li>
                                <li>周二</li>
                                <li>周三</li>
                                <li>周四</li>
                                <li>周五</li>
                            </ul>
                            <table class="tb1">
                                <tr>
                                    <td>
                                        <span class="tit">早餐:</span>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tit">上午加餐:</span>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tit">中餐:</span>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tit">下午加餐:</span>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tit">晚餐:</span>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                        <select class="select1" disabled="disabled" name="">
                                            <option value="">包子</option>
                                            <option value="">油条</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="btn">
                                    <td>
                                        <input class="ipt-btn1" type="submit" value="提交" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bodyer -->
    <!-- footer -->
    <div id="footer" class="fn-cb">
        <span class="powered"><a href="#">凌遥</a></span>
        <span class="copyright">杰夫幼儿园 Email:shouhou91@foxmail.com <a href="#"></a></span>
    </div>
    <!-- /footer -->
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/jquery.cxcalendar.js"></script>
    <script src="/html/templates/default/js/script.js"></script>
    <script>
    /* 设置页面高度 */
    var CFG = {
        HEADER: ".header",
        PAGE: ".wp"
    };
    if ($(CFG.HEADER) && $(CFG.HEADER).length) {
        var maxHeight = $(window).height() - ($(CFG.HEADER).height() || 60);
        $(CFG.PAGE).css({
            minHeight: maxHeight,
            display: 'block'
        });
    };
    </script>
</body>

</html>
